.wavesbackground {
  background-image: url(../../assets/layered-peaks-haikei.svg);
  background-attachment: fixed;
  background-size: cover;
  background-position: left bottom;
}

.featuresList li {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.3rem 0.5rem;
  border: 2px solid #6b7280;

  background-color: #27272a;
  border-radius: 4px;
}

@media (max-width: 700px) {
  .featuresList li {
    padding: 0.7rem;
    width: 260px;
  }
}